*{text-decoration: none ;}

#grayfonall{
  height: 470px !important;
    background-image: url("../images/grayfon.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#fontext{
    position: relative;
    margin: 10% 5% auto auto;
}
#fontext h1,p{
    color: aliceblue;
}

@media screen and (min-width: 900px){
  #fontext{
    margin-left: 27%;
    width: 600px;
  }
}

.sect{
  background-color: #787878;
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
}
.sectCol{color: #f8f8f8;}



.form_size{ width: 50px !important;}
