*{text-decoration: none ;}

#grayfonall{
    height: 470px !important;
    background-image: url("../images/grayfon.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#fontext{
    position: relative;
    margin: 10% 5% auto auto;
}
#fontext h1,h6{
  color: aliceblue !important;
}
#fontext a{
  border: 2px solid aliceblue;
  border-radius: 15px;
  padding: 10px;
  color: aliceblue !important;
}
#fontext a:hover{
  border: 1px solid aliceblue;
  border-radius: 15px;
  background-color: aliceblue;
  color: #282c34 !important
}
#fontextspan{
  font-size: 20px;
}
